<!DOCTYPE html>
<html>
<head>
    <title>Personal Website</title>
    <meta charset="UTF-8">

    <link href="{{ url_for('static', filename='css/blog.css') }}" rel="stylesheet" type="text/css">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-947E34PLM2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-947E34PLM2');
</script>
<body>
    <header id="topDiv">
        <img src="{{ url_for('static', filename='images/afbeelding website banner.jpg') }}" alt="welcome image">
        <nav id="navigationDiv">
            <a href="index.html" class="linkInc">Home</a>
            <div class="dropdown">
                <a class="droplabel">Portfolio Links</a>
                <div class="dropDownContent">
                    <a href="onDisplay.html">Voorbeeld Functionaliteit</a>
                    <a href="dionschilderwerk.html">Dion Schilderwerk</a>
                    <a href="sudokuProject.html">Sudoku Oplosser</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="droplabel">Artikelen</a>
                <div class="dropDownContent">
                    <a href="eigenEinde.html">"Eigen einde niet halen"</a>
                    <a href="goedeDoelen.html">"Goede doelen steunen"</a>
                    <a href="overalIsGif.html">"Overal is gif"</a>
                    <!--<a href="eindigheid.html">"Eindig- en oneindigheid"</a>-->
                </div>
            </div>
            <a id="currentLink" href="blog1.html" class="linkInc">Blog</a>
            <a href="overMij.html" class="linkInc">Over mij</a>
        </nav>
    </header>  
    <main id="container" role="main">
        <article>
            <h3>Zondag 1 juni 2025</h3>
            <p>Oké mensen, hallo alweer.</p>
            <p>Er is nog niks veranderd. Ik ben nog niet offline geweest met de website. Het duurt allemaal even, zoals normaal.</p>
            <p>Ik heb een realisatie die ik met jullie wil bespreken.</p>
            <p>Ik heb soms best wel last van verveling. Ik voel dan teveel weerstand om iets met ICT te doen. En ook andere dingen kosten teveel moeite schat ik soms dan in.</p>
            <p>En dan raak ik in paniek van er moet toch iets te doen zijn?? Ik associeer dit met het stoppen met gamen dat ik op een gegeven moment heb doorgevoerd.</p>
            <p>Ik ben blijkbaar gewend van alles te kunnen meemaken tegen verveling in ieder geval zonder het huis uit te hoeven gaan. Ik ben bijna geconditioneerd om binnen te zitten en binnen mijn vermaak te zoeken.</p>
            <p>Gamen zit er echter niet meer in. Ik vind het saai geworden, het spreekt minder tot mijn verbeelding. En dat kan ook aan de medicatie liggen. Ik heb er geen affiniteit meer mee.</p>
            <p>En dan lig ik op de bank uit te rusten... en dan kom ik tot de conclusie van langetermijn verveling: ik haal op dit moment weinig uit het leven. Maar meteen de tweede vraag die je kan stellen is "is dat erg?".</p>
            <p>Eén voordeel is dat ik ontzettend zuinig leef op dit moment.</p>
            <p>En ook met het spaargeld dat ik op dit moment opbouw? Misschien kom ik wel nooit meer in de financiële problemen. En dat is niet een "meer" van het is wel gebeurd maar het is opgehouden. Maar gewoon helemaal nooit gehad!</p>
            <p>Kijk ik rook niet. Dat scheelt een hele hoop. Sommige mensen komen daardoor zo krap te zitten dat ze in de schulden komen of bewindvoering krijgen. Ik ben zo'n beetje de enige die geen bewindvoering heeft.</p>
            <p>Ik rij geen auto. Ik heb nagenoeg geen hobbies. Dus ook geen dure hobbies. Tja, wat wil je dan nog meer??</p>
            <p>Blijkbaar zit ik niet zo krap in het materiëele. Zou je het zo kunnen zeggen??</p>
            <p>Ik heb laatst nieuwe schoenen gekocht van het merk Mustang. Dat zijn gewoon hele leuke goeie schoenen. Ja, eerlijk is eerlijk, veel zijn er niet leuk. Maar de kleur waarin ik ze zocht daar hadden ze een basic paar van.</p>
            <p>En die zijn helemaal prima. En daar ben ik echt blij mee! Intussen lopen zelfs de meest uitzichtloze zwervers hier op new balance schoenen. Hahaha. Ik vind dat wel grappig.</p>
            <p>Blijkbaar is het nou helemaal hip. Ik heb het merk ook al een keer overwogen. Maar besloot toch van niet. Vooral in het beige en dergelijke of gewoon wit zijn ze nogal in trek.</p>
            <p>Ik heb echt een hele goedkope lifestyle. Hahaha. Ik loop niet te pochen. Ik steun goeie doelen. Dat is wel duur. Is minstens een keer vakantiegeld in het jaar. Zoals het nu gaat.</p>
            <p>Maar dat ga ik echt wel terugschroeven op den duur.</p>
            <p>Is het erg?? Ik moet dan denken aan dat koppel dat de loterij heeft gewonnen en waarvan de man dan een camera besloot te bestellen die hij heel graag wilde hebben. En verder het geld ongemoeid hebben gelaten.</p>
            <p>Niet verhuisd, niks. Ik vind dat ergens ook wel bewonderingswaardig hoor. Ik zou wel voor een mooie auto gaan. Maar ik hoef niet duur te wonen of zo. Echt niet per sé hoor.</p>
            <p>Ik ben blij met de rust die ik heb. En als daarmee ook de wanhoop of de paniek weg kan die ik soms heb van aaagghrr wat moet ik doen???? Dan uhm ja. Dan ben ik compleet.</p>
            <p>En ik wandel veel. Hetzelfde rondje. Elke dag zo'n beetje, hier over het terrein. Ga dan even bij het lokale restaurantje een drankje doen. Waar je korting krijgt als bewoner van het terrein.</p>
            <p>Prima toeven.</p>
            <p>Mis ik dan nog iets?? De vraag is hoe ik mijn vakanties in ga vullen, denk ik. Als ik eenmaal werk. Als ik een meerwaarde in vakantie zie hoor. Misschien helemaal niet. Tot nu toe was het altijd computers voor vakantiegeld.</p>
            <p>Maar als ik ook dat niet meer doe, omdat gamen is weggevallen??? Het is toch wel knap hoe je hobbies kan verliezen zonder er nieuwe voor terug te krijgen?? Je dumpt toch niet oude hobbies?</p>
            <p>Maar het was een beetje een verslaving. Daar leek het op. Nee, het was een gewoonte. Ik dacht er niet bij na. En het was een beetje een soort uitvlucht. Om bij de rest ook niet na te hoeven denken.</p>
            <p>Ik zat veilig in mijn game. En ik hield mijn leven wel in de gate, maar alle tijd die ik over had ging die game in.</p>
            <p>Nu heb ik rust. En eens een keer een koffie pakken. Of een ander drankje.</p>
            <p>Ik hoef niet eens elke dag te koken hier zo op een groep. Dat hield me ook enigszins op de been destijds.</p>
            <p>Maar heel rustig dus.</p>
            <p>Ik ben minder nieuwsgierig geworden dan normaal. Dat had ik eigenlijk niet gedacht. Ik geloof het allemaal wel nu. Je krijgt veel van het leven mee al via media. Ja... toch wel.</p>
            <p>De oorlog in Gaza. Ik bid daar ook regelmatig voor.</p>
            <p>Maar ik probeer me er toch buiten te laten. Ik heb er wel een mening over. Maar die ga ik allemaal niet online slingeren. Sommige mensen weten er misschien van.</p>
            <p>Ik uhh... ben best wel een softy. Toch. Of ik word het wel. Ik was nog enigszins getekend door de gevangenis. Maar dat heelt ook wel weer.</p>
            <p>Maar ik denk dus wat er gaande is is dat ik korte termijn in lange termijn over zie gaan. En dat ik er achter kom dat langdurige verveling kan betekenen dat je niet zoveel uit het leven haalt als een gemiddeld mens.</p>
            <p>Maar dan komt de vraag is dat erg, bij mij naar boven. En ik zeg daarop nee. Misschien komt het vanzelf wel weer.</p>
            <p>Ik weet nog vroeger... ik wilde gewoon inpassen. Normaal. Ik weet nog dat ik in games als GTA gewoon als de voetgangers daar wilde zijn. Haha. Als de NPC's. Ik wilde gewoon realistisch mee doen aan het verkeer en dergelijke.</p>
            <p>Ik ben ergens gemaakt voor het volwassen leven. Misschien wel. Dat is al die tijd wel wat ik ambieerde. Maar ik had me wel wat meer voorgesteld dan een appartementje. Ik dacht een huisje, hoort bij het volwassen leven.</p>
            <p>Maar dan blijkbaar dus ook samenwonen. En daar heb ik eigenlijk niet zo'n zin in.</p>
            <p>Ach ja we zullen zien.</p>
            </article>
        <div id="pages">
            <a 
             class="paginaBlog">Pag. </a><a 
             class="paginaBlog" href="blog1.html">1</a><a 
             class="paginaBlog" href="blog2.html">2</a><a
             class="paginaBlog" href="blog3.html">3</a><a 
             class="paginaBlog" href="blog4.html">4</a><a 
             class="paginaBlog" href="blog5.html">5</a><a 
             class="paginaBlog" href="blog6.html">6</a><a 
             class="paginaBlog" href="blog7.html">7</a><a 
             class="paginaBlog" href="blog8.html">8</a>
            <a style="color: black;">></a>
        </div>
    </main>
    <section id="contactDeel">
        <form id="contactFormulier" action="php/mail.php" method="POST">
            Naam: <input name="naam" type="text"/> <br>
            Email: <input name="emailAdress" type="text"/> <br>
            <textarea cols="40" name="vraag" rows="7">Uw vraag: </textarea> <br>
            <input type="submit" value="Submit"/>
        </form>
    </section>
    <aside>
        <h5>Januari 2025</h5>
        <h5>Februari 2025</h5>
        <h5>Maart 2025</h5>
        <h5>April 2025</h5>
        <h5>Mei 2025</h5>
        <h5>Juni 2025</h5>
        <h5>Juli 2024</h5>
        <h5>Augustus 2024</h5>
        <h5>September 2024</h5>
        <h5>Oktober 2024</h5>
        <h5>November 2024</h5>
        <h5>December 2024</h5>
    </aside>
</body>
</html>