<!DOCTYPE html>
<html>
<head>
    <title>Personal Website</title>
    <meta charset="UTF-8">

    <link href="{{ url_for('static', filename='css/artikelen.css') }}" rel="stylesheet" type="text/css">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-947E34PLM2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-947E34PLM2');
</script>
<body>
    <header id="topDiv">
        <img src="{{ url_for('static', filename='images/afbeelding website banner.jpg') }}" alt="welcome image">
        <nav id="navigationDiv">
            <a href="index" class="linkInc">Home</a>
            <div class="dropdown">
                <a class="droplabel">Portfolio Links</a>
                <div class="dropDownContent">
                    <a href="onDisplay">Voorbeeld Functionaliteit</a>
                    <a href="dionschilderwerk">Dion Schilderwerk</a>
                    <a href="sudokuProject">Sudoku Oplosser</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="droplabel">Artikelen</a>
                <div class="dropDownContent">
                    <a href="eigenEinde">"Eigen einde niet halen"</a>
                    <a href="goedeDoelen">"Goede doelen steunen"</a>
                    <a href="overalIsGif">"Overal is gif"</a>
                    
                    <!--<a href="eindigheid.html">"Eindig- en oneindigheid"</a>-->
                </div>
            </div>
            <a href="blog1" class="linkInc">Blog</a>
            <a href="overMij" class="linkInc">Over mij</a>
        </nav>
    </header>  
    <main id="container" role="main">
        <article>
            <h3>"Goede doelen steunen"</h3>
            <p>Oké dus, een van de dingen waar ik me afgelopen tijd aan heb geïrriteerd in mijn blog, is de houding van de gemiddelde Nederlander bij het steunen aan goede doelen.</p>
            <p>"Ja alles blijft toch aan de strijkbout plakken". En dat mensen goede doelen niet willen steunen als ze weten dat de directeur van die organisatie er een heel dik salaris op na houdt.</p>
            <p>Wil je het dan allemaal zelf gaan doen?? Er is geen alternatief. Veel mensen willen wel als vrijwilliger werken voor zo'n organisatie. Maar dat is hetzelfde als niet in een vliegtuig willen stappen omdat er dan voor je wordt gevlogen, en je zelf wilt vliegen.</p>
            <p>Dat is achterhaald mensen! Je wilt alleen het werk doen dus. Mogelijk. Sterker nog, veel vrijwilligerswerk voor activistische organisaties wordt allemaal al vervuld volgens mij. Het barst van de mensen die zich daar zelf voor willen inzetten.</p>
            <p>Ze hebben echter veel meer aan gewoon wat financiering. En dan sturen zij alles wel aan. En dat doen dan bijna niemand. Ik was het ook hoor. Ik dacht "ik steun toch ook een goed doel". WNF, met drie euro per maand. Inmiddels heb ik mijn bijdragen fors omhoog geschroeft. Enerzijds door een inspirerend voorbeeld vond ik van een meisje dat in marketing werkte maar wel veel aan goede doelen wilde bijdragen.</p>
            <p>Anderzijds vanwege geloofsovertuiging. Er is een bepaald streefbedrag dat voorgesteld wordt binnen het christendom om te schenken aan goede doelen. Volgens mij werd er zelfs gezegd 10% van je inkomen. Nou daar zit ik dan misschien bij op de helft. Maar het kan nog meer.</p>
            <p>Ik doe echter een significante bijdrage. En maak echt wel wat verschil. Met een tiental stuks aan goede doelen. Waaronder bijvoorbeeld eentje voor adopteer regenwoud. Dat is de duurste in feite.</p>
            <p>Waarom zou je wel vrijwillig willen werken voor een organisatie, maar ze niet financieel steunen?? Waarom ben je bereid je eigen inkomen op te offeren, zonder zelf geld beschikbaar te stellen met een ander beroep??</p>
            <p>Ik zag het heel simpel, ik stond al geruime tijd aan de kant. En ik dacht ik ga het toch min of meer forceren: ik ga ervoor zorgen dat ik goede doelen ga steunen. En om dat te bekostigen ga ik erbij werken. En dat kan welk dan ook beroep zijn, als ik in feite klaslokalen poets als werk en een deel van dat inkomen uitbesteedt aan The Ocean Clean Up. Dan ben ik in feite ook gewoon de oceaan leeg aan het vissen, niet op de foute manier, maar het plastic eruit aan het halen. Want ik werk, en met het verdiende geld financier ik arbeid die het voor mij doet.</p>
            <p>Zo doe je allemaal iets voor elkaar. Dat is toch gewoon hoe een economie werkt?? Jij investeert toch ook niet in aandelen om dan te gaan zeuren over hoeveel de directeur verdient?? Ik vind het zo'n slap excuus. Het is gewoon in de slachtofferrol blijven zitten op die manier.</p>
            <p>Gewoon weigeren om een beetje geloof te hebben in de wereld en een beetje te vertrouwen op hoe onze economie "zou moeten werken". Want om bij dat argument er weer het bijltje bij neer te leggen is echt heel zielig.</p>
            <p>Tegenwoordig besteden mensen alles uit wat ze niet zelf willen doen. Laat ook gewoon de goede doelen voor je werken dan. Denk er alsjeblieft niet meer zo slap over na. Het salaris van een directeur van een organisatie zou min of meer gelijk moeten blijven al zou het aantal donateurs stijgen.</p>
            <p>Het gaat echt niet allemaal naar de top hoor.</p>
            <p>Het is een beetje een dom argument. In een 21ste eeuwse economie is het achterhaald om zo nog naar arbeid en financiën te kijken. Steun gewoon eens wat meer. Voor bijvoorbeeld een handvol doelen voor 30 euro per maand.</p>
            <p>Dan zijn ze bescheiden en vragen ze slechts 3 euro per maand. Steun jij er maar 1. Dat is dom. Kom op zeg, doe eens je best. Zet je schouders eronder en probeer eens de wereld wat bij te sturen met wat slimmigheid in plaats van die domme werkethiek waar het nou vaak bij blijft.</p>
            <p>Je wilt nu blijkbaar of het werk zelf doen, of je wil er niks aan bijdragen. Iedereen zou bevestigen dat het nobel werk is wat je zou doen. Maar niemand wil gewoon wat geld beschikbaar stellen.</p>
            <p>Dat is toch veruit de slimste manier??? Het is zo dom om daar zo naar te kijken hè. In plaats daarvan willen we allemaal ons rendement terug zien in aandelen. Dat dan weer wel. Maar ho ho als je er ook echt dingen mee gedaan zou kunnen krijgen. Dan twijfelen we ineens allemaal teveel.</p>
            <p>Die directeur moet van dat salaris wat ie verdient ook gewoon extra goede doelen steunen. En zorgen dat ie wat geld binnen pompt in hoe hij de wereld achter wil laten. Alleen als die directeur dat ook doet, dán heeft het zin.</p>
            <p>Vertrouw daar nou gewoon eens op.</p>
            <p>Nee we willen het geld allemaal zelf houden. Maar we zijn wel in uitzonderlijke gevallen bereid om ons hele inkomen in te leveren om "nuttig" werk te doen. Ze hebben hele wachtlijsten bij programma's zoals "The Sea Shepherd". Vrijwilligers te over. Zitten ze echt niet op te wachten hoor.</p>
            <p>Draag gewoon eens echt bij. Naar vermogen. En probeer niet allemaal het wiel zelf opnieuw uit te vinden. Ook met wat financiering zijn goede doelen hartstikke blij. Meer zelfs nog, ik weet het zeker.</p>
            <p>Er is echt geen gebrek aan vrijwilligers hoor. Kom alsjeblieft niet meer met dat argument aanzetten. Maar ook die "vrijwilligheid" moet waarschijnlijk nog gefinancierd worden. Je moet toch huisvesting hebben en je eten en drinken kunnen betalen. Wie doet dat dan??</p>
            <p>Niet meer zo achterhaald alsjeblieft mensen. De wereld heeft je nu het hardste nodig van allemaal. Zorg dat je in principe binnen de 30 en 45 euro per maand zit alsjeblieft. Met een selectie naar eigen keuze. Dat is het minimale wat je kan doen.</p>
            <p>En als dan ook die directeur daar niet voor wegkijkt, dan is het systeem compleet. Een weg naar een betere wereld ingezet. Dankjewel.</p>
            
        </article>
    </main>
    <section id="contactDeel">
        <form id="contactFormulier" action="php/mail.php" method="POST">
            Naam: <input name="naam" type="text"/> <br>
            Email: <input name="emailAdress" type="text"/> <br>
            <textarea cols="40" name="vraag" rows="7">Uw vraag: </textarea> <br>
            <input type="submit" value="Submit"/>
        </form>
    </section>
</body>
</html>